:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Figtree", Helvetica, sans-serif;
    font-size: 16px;
    background-color: var(--yellow);
    
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 250px;
    background-color: var(--white);
    padding: 15px;
    border: 1px solid var(--black);
    border-radius: 12px;
    box-shadow: 7px 7px 0px -1px rgba(0,0,0,1);
}

.container img {
    border-radius: 8px;
}

.status {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 15px 0;
}

.status h3 {
    font-size: 0.875rem;
    font-weight: 800;
    margin-bottom: 12px;
    padding: 5px 8px;
    border-radius: 3px;
    background-color: var(--yellow);
}

.status p {
    font-size: 0.75rem;
    font-weight: 600;
}

#enterprise {
    font-weight: 900;
    color: var(--black);
}

#enterprise:hover {
    color: var(--yellow);
}

#description {
    font-size: 0.675rem;
    line-height: 1.5;
    font-weight: 400;    
    color: var(--grey);
    margin: 12px 0;
}

.avatar {
    display: flex;
    align-items: center;
}

.avatar img {
    width: 10%;
    margin-right: 8px;
}

.avatar span {
    font-size: 0.6rem;
    font-weight: 900;
}


.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}