:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Figtree", Helvetica, sans-serif;
    font-size: 16px;
    background-color: var(--yellow);
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    flex-direction: column; */
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    max-width: 250px;
    background-color: var(--white);
    padding: 15px;
    border-radius: 12px;
    box-shadow: 7px 7px 0px -1px rgba(0,0,0,1);
}

.container img {
    border-radius: 8px;
}

.status {
    margin: 15px 0;
}

.status h3 {
    font-size: 0.875rem;
    font-weight: 800;
    margin-bottom: 15px;
    padding: 3px;
    background-color: var(--yellow);
}




.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}